@font-face {
  font-family: 'Helvetica Neue';
  src: url('HelveticaNeue-Bold.otf');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('HelveticaNeue-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('HelveticaNeue-Roman.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('HelveticaNeue-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('HelveticaNeue-Thin.otf');
  font-weight: 200;
}
